/.bundle
/.env*
/.ruby-lsp
/coverage
/error.log
/Gemfile.tunnel.lock
/log/*
/public/assets
/storage/*
/tmp/*

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep

/config/master.key
/config/credentials/*.key
